@model List<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}


<h2>Top Movies Count: @ViewBag.MoviesCount</h2>

@foreach (var movie in Model) 
{
   <div>
       @movie.Title <br />
       @movie.Id <br />
       @movie.Budget <br />
   </div>
}